# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
# Ignore Gradle build output directory
build
package-lock.json

# Eclipse
.classpath
.settings

# installed Fabric binaries etc.
bin/
builders/
fabric-samples/
config/
external-chaincode/
data/
models/
__pycache__
install-fabric.sh
test-network/
# override the ignore of all config/ folders
!full-stack-asset-transfer-guide/infrastructure/sample-network/config

*/channel-artifacts/*.tx
*/channel-artifacts/*.block
*/ledgers
*/ledgers-backup
*/channel-artifacts/*.json
*/channel-artifacts/*.pb
*/org3-artifacts/crypto-config/*
*/organizations/fabric-ca/ordererOrg/*
*/organizations/fabric-ca/org1/*
*/organizations/fabric-ca/org2/*
*/organizations/ordererOrganizations/*
*/organizations/peerOrganizations/*
*/system-genesis-block/*
*/*.tar.gz
*/log.txt